Repository futuroptimist/gabriel: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-link-check, prompt-injection-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.0
    hooks:
      - id: codespell
        args: ["--ignore-words", "dict/allow.txt", "--skip", "*.lock,*.svg,viewer/model-viewer.min.js,package-lock.json"]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint viewer JavaScript
        files: "^viewer/(?!model-viewer\\.min\\.js$).*\\.js$"
        args: ["--max-warnings=0"]
        additional_dependencies:
          - eslint@8.56.0
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle (gabriel package)
        files: "^gabriel/.*\\.py$"
        args: ["--config=pyproject.toml"]
        additional_dependencies:
          - tomli>=2.0.1
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]
        additional_dependencies:
          - types-PyYAML==6.0.12.20250915
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: [-c, pyproject.toml, -r, gabriel, scripts]
        additional_dependencies:
          - bandit[toml]
  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        args: ["--requirement", "requirements.txt"]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.16
    hooks:
      - id: pymarkdown
        name: PyMarkdown lint
        args: ["--config", ".pymarkdown.json", "scan"]
        types: [markdown]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - id: markdown-link-check
        name: Markdown link checker
        entry: python scripts/run_lychee.py
        language: system
        pass_filenames: false
        files: ".*\\.(md|MD)$"
      - id: prompt-injection-lint
        name: Prompt injection linter
        entry: python -m gabriel.prompt_lint
        language: system
        files: "^(docs/|prompts/).+\\.md$"
      - id: hidden-text-scan
        name: Hidden text scanner
        entry: python -m gabriel.text
        language: system
        types: [text]
        require_serial: true
      - id: commitlint
        name: Commit message lint
        entry: scripts/run_commitlint.sh
        language: system
        pass_filenames: false
        stages: [commit-msg]

✨ : – add mkdocs api documentation site
  .github/workflows/docs.yml
  .github/workflows/mkdocs-pages.yml
  .gitignore
  Makefile
  README.md
  docs/api/index.md
  docs/gabriel/IMPROVEMENTS.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  requirements.txt
  runbook.yml
  tests/test_docs_build.py
Due: markdown-link-check, prompt-injection-lint

fix: add mkdocs spellings to allowlist
  dict/allow.txt
Due: none

chore: allow semgrep integration commit
  scripts/commitlint_allowlist.txt
Due: none

🛡️ : – add trivy scanning to docker workflow
  .github/workflows/docker.yml
  README.md
  docs/gabriel/IMPROVEMENTS.md
  tests/test_tooling.py
Due: markdown-link-check, prompt-injection-lint

ci: allow mkdocs commit message
  scripts/commitlint_allowlist.txt
Due: none

Scan all Docker architectures before publishing
  .github/workflows/docker.yml
  tests/test_tooling.py
Due: none

chore: allow mkdocs commit message
  scripts/commitlint_allowlist.txt
Due: none

ci: allowlist legacy docker scan commits
  scripts/commitlint_allowlist.txt
Due: none

ci: correct docker scan commit allowlist
  scripts/commitlint_allowlist.txt
Due: none

feat: add scratch space manager
  README.md
  docs/security/llm_agent_threat_model.md
  gabriel/__init__.py
  gabriel/common/__init__.py
  gabriel/common/scratch.py
  tests/test_scratch.py
Due: markdown-link-check, prompt-injection-lint

ci: add macos and windows coverage runners
  .github/workflows/coverage.yml
  README.md
  docs/gabriel/IMPROVEMENTS.md
  tests/test_workflows.py
Due: markdown-link-check, prompt-injection-lint

feat: add Sphinx API documentation pipeline
  .github/workflows/docs.yml
  .gitignore
  Makefile
  README.md
  docs/api/index.md
  docs/gabriel/IMPROVEMENTS.md
  docs/sphinx/_templates/.gitkeep
  docs/sphinx/analysis.rst
  docs/sphinx/conf.py
  docs/sphinx/index.rst
  docs/sphinx/knowledge.rst
  docs/sphinx/secrets.rst
  lychee.toml
  requirements.txt
  scripts/build_sphinx_docs.py
  tests/test_sphinx_docs.py
Due: markdown-link-check, prompt-injection-lint

feat: monitor docker base images via dependabot
  .github/dependabot.yml
  README.md
  docs/gabriel/IMPROVEMENTS.md
  tests/test_dependabot.py
Due: markdown-link-check, prompt-injection-lint

Fix spellcheck and docstrings for scratch space
  dict/allow.txt
  gabriel/common/scratch.py
  tests/test_scratch.py
Due: none

Allow scratch docs terminology in typos config
  .typos.toml
Due: none

fix: ensure sphinx docs tooling dependencies
  README.md
  dict/allow.txt
  pyproject.toml
  scripts/build_sphinx_docs.py
  tests/test_sphinx_docs.py
Due: markdown-link-check

ci: allow scratch commits through commitlint
  scripts/commitlint_allowlist.txt
Due: none

✨ : – add weekly security scan workflow
  .github/workflows/security.yml
  README.md
  docs/security/llm_agent_threat_model.md
  tests/test_workflows.py
Due: markdown-link-check, prompt-injection-lint

feat: enforce repo-scoped vector store ttl
  README.md
  docs/security/llm_agent_threat_model.md
  gabriel/__init__.py
  gabriel/common/__init__.py
  gabriel/common/vector_store.py
  tests/test_vector_store.py
Due: markdown-link-check, prompt-injection-lint

✨ : – Add signed system prompt with provenance loader
  README.md
  config/command_allowlist.yaml
  config/prompts/system.md
  config/prompts/system.provenance.json
  docs/security/llm_agent_threat_model.md
  gabriel/__init__.py
  gabriel/prompts/__init__.py
  gabriel/prompts/system.py
  gabriel/security/__init__.py
  gabriel/security/command_allowlist.py
  gabriel/ui/cli.py
  tests/test_command_allowlist.py
  tests/test_system_prompt.py
Due: markdown-link-check, prompt-injection-lint

✨ : add disposable container helper
  README.md
  docs/gabriel/FAQ.md
  docs/security/llm_agent_threat_model.md
  gabriel/__init__.py
  gabriel/common/__init__.py
  gabriel/common/docker.py
  tests/test_common_docker.py
Due: markdown-link-check, prompt-injection-lint

fix: satisfy lint and spellcheck
  dict/allow.txt
  gabriel/common/vector_store.py
Due: none

fix: resolve lint issues for disposable container helper
  gabriel/common/docker.py
  tests/test_common_docker.py
Due: none

fix: load allowlist and prompt from package resources
  README.md
  docs/security/llm_agent_threat_model.md
  gabriel/config/command_allowlist.yaml
  gabriel/config/prompts/system.md
  gabriel/config/prompts/system.provenance.json
  gabriel/prompts/system.py
  gabriel/security/command_allowlist.py
  pyproject.toml
  tests/test_system_prompt.py
Due: markdown-link-check, prompt-injection-lint

Fix dependency scan to audit requirements
  .github/workflows/security.yml
Due: none

test: cover resource inputs for system prompt loader
  tests/test_system_prompt.py
Due: none

docs: allow disposable helper terms
  dict/allow.txt
Due: none

Fix package discovery and include bundled config assets
  pyproject.toml
Due: none

chore: format security workflow
  .github/workflows/security.yml
Due: none

fix: unblock spellcheck and typing for vector store
  dict/allow.txt
  gabriel/common/vector_store.py
Due: none

ci: allow disposable helper commit message
  scripts/commitlint_allowlist.txt
Due: none

fix: load packaged prompt assets safely
  .secrets.baseline
  gabriel/prompts/system.py
  tests/test_system_prompt.py
Due: none

chore: normalize security workflow spacing
  .github/workflows/security.yml
Due: none

🔐 : – add scheduled security scans workflow
  .github/workflows/security.yml
  README.md
  docs/security/llm_agent_threat_model.md
  tests/test_security_workflow.py
Due: markdown-link-check, prompt-injection-lint

feat: add trivy container scanning helper
  .github/workflows/docker.yml
  README.md
  docs/gabriel/IMPROVEMENTS.md
  gabriel/security/__init__.py
  gabriel/security/container_scanning.py
  tests/test_container_scanning.py
  tests/test_tooling.py
Due: markdown-link-check, prompt-injection-lint

feat: tag vector store records with task metadata
  README.md
  docs/gabriel/FAQ.md
  docs/gabriel/OFFLINE.md
  docs/gabriel/SECRET_BOUNDARY.md
  docs/security/llm_agent_threat_model.md
  gabriel/__init__.py
  gabriel/common/vector_store.py
  gabriel/inference.py
  gabriel/ui/cli.py
  tests/test_cli_infer.py
  tests/test_inference.py
  tests/test_vector_store.py
Due: markdown-link-check, prompt-injection-lint

feat: add network exposure heuristics
  README.md
  docs/gabriel/FAQ.md
  gabriel/__init__.py
  gabriel/analysis/__init__.py
  gabriel/analysis/network.py
  tests/test_network_analysis.py
Due: markdown-link-check, prompt-injection-lint

fix: flag internet databases even when tls enabled
  gabriel/analysis/network.py
  tests/test_network_analysis.py
Due: none

fix: push scanned docker image
  .github/workflows/docker.yml
  tests/test_docker_workflow.py
  tests/test_tooling.py
Due: none

ci: allow security workflow commit
  scripts/commitlint_allowlist.txt
Due: none
