Repository futuroptimist/gabriel: changes, and which pre-commit hooks are due for each by the changed paths.
All: markdown-link-check, prompt-injection-lint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.0
    hooks:
      - id: codespell
        args: ["--ignore-words", "dict/allow.txt", "--skip", "*.lock,*.svg,viewer/model-viewer.min.js,package-lock.json"]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v8.56.0
    hooks:
      - id: eslint
        name: ESLint viewer JavaScript
        files: "^viewer/(?!model-viewer\\.min\\.js$).*\\.js$"
        args: ["--max-warnings=0"]
        additional_dependencies:
          - eslint@8.56.0
  - repo: https://github.com/PyCQA/isort
    rev: 5.12.0
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: 23.7.0
    hooks:
      - id: black
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.9
    hooks:
      - id: ruff
        args: ["--fix", "--exit-non-zero-on-fix"]
  - repo: https://github.com/PyCQA/flake8
    rev: 6.1.0
    hooks:
      - id: flake8
        additional_dependencies:
          - flake8-docstrings==1.7.0
  - repo: https://github.com/PyCQA/pydocstyle
    rev: 6.3.0
    hooks:
      - id: pydocstyle
        name: pydocstyle (gabriel package)
        files: "^gabriel/.*\\.py$"
        args: ["--config=pyproject.toml"]
        additional_dependencies:
          - tomli>=2.0.1
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.5.1
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]
        additional_dependencies:
          - types-PyYAML==6.0.12.20250915
  - repo: https://github.com/PyCQA/bandit
    rev: 1.7.7
    hooks:
      - id: bandit
        args: [-c, pyproject.toml, -r, gabriel, scripts]
        additional_dependencies:
          - bandit[toml]
  - repo: https://github.com/pypa/pip-audit
    rev: v2.9.0
    hooks:
      - id: pip-audit
        args: ["--requirement", "requirements.txt"]
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.16
    hooks:
      - id: pymarkdown
        name: PyMarkdown lint
        args: ["--config", ".pymarkdown.json", "scan"]
        types: [markdown]
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - id: markdown-link-check
        name: Markdown link checker
        entry: python scripts/run_lychee.py
        language: system
        pass_filenames: false
        files: ".*\\.(md|MD)$"
      - id: prompt-injection-lint
        name: Prompt injection linter
        entry: python -m gabriel.prompt_lint
        language: system
        files: "^(docs/|prompts/).+\\.md$"
      - id: hidden-text-scan
        name: Hidden text scanner
        entry: python -m gabriel.text
        language: system
        types: [text]
        require_serial: true
      - id: commitlint
        name: Commit message lint
        entry: scripts/run_commitlint.sh
        language: system
        pass_filenames: false
        stages: [commit-msg]

fix: satisfy lint and spellcheck for container scanning tests
  dict/allow.txt
  tests/test_container_scanning.py
Due: none

fix: flag exposed databases regardless of tls
  gabriel/analysis/network.py
  tests/test_network_analysis.py
Due: none

fix: pin node runtime for linting hooks
  .pre-commit-config.yaml
  tests/test_tooling.py
Due: none

chore: allow network analyzer terminology
  dict/allow.txt
Due: none

fix: adjust container scanning test types
  tests/test_container_scanning.py
Due: none

feat: add allowlisted fetch proxy
  README.md
  docs/security/llm_agent_threat_model.md
  gabriel/security/__init__.py
  gabriel/security/fetch_proxy.py
  tests/test_fetch_proxy.py
Due: markdown-link-check, prompt-injection-lint

✨ : – add entropy scanner for high-entropy secret detection
  README.md
  docs/gabriel/FAQ.md
  docs/security/llm_agent_threat_model.md
  gabriel/__init__.py
  gabriel/security/__init__.py
  gabriel/security/entropy.py
  tests/test_entropy_scanner.py
Due: markdown-link-check, prompt-injection-lint

feat: add token audit analyzer for expired credentials
  README.md
  docs/security/llm_agent_threat_model.md
  gabriel/security/__init__.py
  gabriel/security/audit.py
  tests/test_security_audit.py
Due: markdown-link-check, prompt-injection-lint

fix: resolve CI failures for coverage and spellcheck
  dict/allow.txt
  pyproject.toml
Due: none

fix: remove coverage failure threshold for new feature PR
  pyproject.toml
Due: none

fix: update test and add more words to spellcheck allowlist
  dict/allow.txt
  tests/test_tooling.py
Due: none

fix: add jsonl to spellcheck allowlist
  dict/allow.txt
Due: none

✅ : – expand provenance guardrails
  README.md
  docs/gabriel/FAQ.md
  tests/test_provenance.py
Due: markdown-link-check, prompt-injection-lint

Add signed prompt provenance verification helpers
  config/prompts/system.attestation.json
  config/prompts/system.md
  config/prompts/system.pub
  gabriel/__init__.py
  gabriel/security/__init__.py
  gabriel/security/provenance.py
  requirements.txt
Due: markdown-link-check

Fix import order for security provenance exports
  gabriel/__init__.py
Due: none

fix: resolve spellcheck regression and pip advisory
  README.md
  docker/Dockerfile
  outages/2025-11-04-docker-pip-vuln.json
  outages/2025-11-04-spellcheck-jsonl.json
  tests/test_security_audit.py
Due: markdown-link-check

chore: strip whitespace from tooling test
  tests/test_tooling.py
Due: none

fix: align security audit test imports
  tests/test_security_audit.py
Due: none

✨ : Enable Trivy scans for PR Docker builds
  .github/workflows/docker.yml
  README.md
  docs/gabriel/IMPROVEMENTS.md
  tests/test_docker_workflow.py
Due: markdown-link-check, prompt-injection-lint

feat: add cli network exposure analyzer
  README.md
  docs/gabriel/FAQ.md
  gabriel/ui/cli.py
  tests/test_cli_network.py
Due: markdown-link-check, prompt-injection-lint

Fix flake8 line length in CLI network test
  tests/test_cli_network.py
Due: none

Address workflow review feedback
  .github/workflows/docker.yml
  tests/test_docker_workflow.py
Due: none

Pin sphinx version for docs build
  requirements.txt
Due: none

Pin docs extra to Sphinx 8.x
  pyproject.toml
Due: none

Pin Sphinx below v9 for doc builds
  pyproject.toml
  requirements.txt
Due: none

Fix semgrep hook setup and update tooling tests
  .pre-commit-config.yaml
  tests/test_tooling.py
  tests/test_trufflehog_hook.py
Due: none

fix: resolve default branch workflow failures
  .github/workflows/mkdocs-pages.yml
  docs/prompts/codex/scan-related-repositories.md
  docs/related/dspace/IMPROVEMENTS.md
  package-lock.json
  requirements.txt
Due: markdown-link-check, prompt-injection-lint

fix: restore security audit workflow
  README.md
  docs/prompts/codex/scan-related-repositories.md
  docs/related/dspace/IMPROVEMENTS.md
  outages/2026-02-02-pip-audit-semgrep-pyjwt.json
  package-lock.json
  requirements.txt
  tests/test_security_workflow.py
Due: markdown-link-check, prompt-injection-lint

fix: resolve security audit failures
  docs/prompts/codex/scan-related-repositories.md
  docs/related/dspace/IMPROVEMENTS.md
  package-lock.json
  requirements.txt
Due: markdown-link-check, prompt-injection-lint

fix: resolve security audit failures
  docs/prompts/codex/scan-related-repositories.md
  docs/related/dspace/IMPROVEMENTS.md
  outages/2026-02-02-security-dependency-audit.json
  package-lock.json
  requirements.txt
Due: markdown-link-check, prompt-injection-lint

docs: remove stale dspace v3 references
  docs/prompts/codex/scan-related-repositories.md
  docs/related/dspace/IMPROVEMENTS.md
Due: markdown-link-check, prompt-injection-lint

test: assert semgrep excluded from requirements
  tests/test_security_workflow.py
Due: none

fix: update trivy docker scan action
  .github/workflows/docker.yml
  tests/test_tooling.py
Due: none

fix: use valid Trivy action tag
  .github/workflows/docker.yml
  tests/test_tooling.py
Due: none

fix: use resolvable Trivy action tag
  .github/workflows/docker.yml
  tests/test_docker_workflow.py
Due: none

fix docker trivy action ref
  .github/workflows/docker.yml
  tests/test_docker_workflow.py
Due: none

test: require all Trivy scan refs to match
  tests/test_docker_workflow.py
Due: none

ci: allowlist Trivy workflow fix commit
  scripts/commitlint_allowlist.txt
Due: none

fix: stabilize Docker and MkDocs workflows
  .dockerignore
  .github/workflows/docker.yml
  .github/workflows/mkdocs-pages.yml
  README.md
  docker/Dockerfile
  docs/gabriel/FAQ.md
  pyproject.toml
  requirements-runtime.txt
  tests/test_docker_workflow.py
  tests/test_docs.py
  tests/test_workflows.py
Due: markdown-link-check, prompt-injection-lint
